## Задача 1

- Скачать данные по ссылке https://www.kaggle.com/datasets/esratmaria/house-price-dataset-with-other-information
- Описание датасета
- Считать данные с помощью pandas
- Вывести на экран первые 5 строк
- Посмотреть на описание признаков и на их содержание

### Описание датасета
Данный датасет - это набор данных для прогнозирования цен на жилье с большой точностью.

### Содержание
Датасет содержит 21 столбец, которые помогают определить цену дома и то, как эти компоненты влияют на цену дома.

In [1]:
import pandas as pd
data = pd.read_csv('kc_house_data.csv')
data.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

### Признаки - 21: 
id(первичный ключ), дата, цена, количество спален, количество ванных комнат, жилая площадь кв.фут, общая площадь кв.фут, количество этажей, наличие набережной, наличие вида, состояние, оценка, площадь чердака кв.фут, площадь подвала кв.фут, год постройки, год последнего ремонта, почтовый индекс, широта, долгота, sqft_living15, sqft_lot15.

## Задача 2

### Проведите первичный анализ данных

- Изучите типы данных
- Найдите количество пропущенных ячеек в данных
- Посчитайте основные статистики по всем признакам и поизучайте их
- Пишите выводы

In [2]:
data.dtypes

id                 int64
date              object
price            float64
bedrooms           int64
bathrooms        float64
sqft_living        int64
sqft_lot           int64
floors           float64
waterfront         int64
view               int64
condition          int64
grade              int64
sqft_above         int64
sqft_basement      int64
yr_built           int64
yr_renovated       int64
zipcode            int64
lat              float64
long             float64
sqft_living15      int64
sqft_lot15         int64
dtype: object

Все столбцы датасета состоят из числовых типов данных(int64, float64), за исключением столбца дата(тип данных object).

In [3]:
data.isnull().sum()

id               0
date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

Таблица не содержит пустых ячеек.

In [4]:
data.describe()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,2.161300e+04,2.161300e+04,21613.000000,21613.000000,21613.000000,2.161300e+04,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000
mean,4.580302e+09,5.400881e+05,3.370842,2.114757,2079.899736,1.510697e+04,1.494309,0.007542,0.234303,3.409430,7.656873,1788.390691,291.509045,1971.005136,84.402258,98077.939805,47.560053,-122.213896,1986.552492,12768.455652
std,2.876566e+09,3.671272e+05,0.930062,0.770163,918.440897,4.142051e+04,0.539989,0.086517,0.766318,0.650743,1.175459,828.090978,442.575043,29.373411,401.679240,53.505026,0.138564,0.140828,685.391304,27304.179631
min,1.000102e+06,7.500000e+04,0.000000,0.000000,290.000000,5.200000e+02,1.000000,0.000000,0.000000,1.000000,1.000000,290.000000,0.000000,1900.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000
25%,2.123049e+09,3.219500e+05,3.000000,1.750000,1427.000000,5.040000e+03,1.000000,0.000000,0.000000,3.000000,7.000000,1190.000000,0.000000,1951.000000,0.000000,98033.000000,47.471000,-122.328000,1490.000000,5100.000000
50%,3.904930e+09,4.500000e+05,3.000000,2.250000,1910.000000,7.618000e+03,1.500000,0.000000,0.000000,3.000000,7.000000,1560.000000,0.000000,1975.000000,0.000000,98065.000000,47.571800,-122.230000,1840.000000,7620.000000
75%,7.308900e+09,6.450000e+05,4.000000,2.500000,2550.000000,1.068800e+04,2.000000,0.000000,0.000000,4.000000,8.000000,2210.000000,560.000000,1997.000000,0.000000,98118.000000,47.678000,-122.125000,2360.000000,10083.000000
max,9.900000e+09,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,1.000000,4.000000,5.000000,13.000000,9410.000000,4820.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000

Выше приведена статистика по признакам, тип данных которых числовой(int64, float64). Статистика по id, думаю, нам не пригодится.

In [13]:
cols = set(data.columns) - {'id'}
data1 = data[list(cols)]
data1.describe()

,sqft_above,view,sqft_living15,long,bedrooms,yr_built,floors,yr_renovated,bathrooms,price,condition,grade,sqft_living,zipcode,sqft_lot15,lat,sqft_basement,sqft_lot,waterfront
count,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,2.161300e+04,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,2.161300e+04,21613.000000
mean,1788.390691,0.234303,1986.552492,-122.213896,3.370842,1971.005136,1.494309,84.402258,2.114757,5.400881e+05,3.409430,7.656873,2079.899736,98077.939805,12768.455652,47.560053,291.509045,1.510697e+04,0.007542
std,828.090978,0.766318,685.391304,0.140828,0.930062,29.373411,0.539989,401.679240,0.770163,3.671272e+05,0.650743,1.175459,918.440897,53.505026,27304.179631,0.138564,442.575043,4.142051e+04,0.086517
min,290.000000,0.000000,399.000000,-122.519000,0.000000,1900.000000,1.000000,0.000000,0.000000,7.500000e+04,1.000000,1.000000,290.000000,98001.000000,651.000000,47.155900,0.000000,5.200000e+02,0.000000
25%,1190.000000,0.000000,1490.000000,-122.328000,3.000000,1951.000000,1.000000,0.000000,1.750000,3.219500e+05,3.000000,7.000000,1427.000000,98033.000000,5100.000000,47.471000,0.000000,5.040000e+03,0.000000
50%,1560.000000,0.000000,1840.000000,-122.230000,3.000000,1975.000000,1.500000,0.000000,2.250000,4.500000e+05,3.000000,7.000000,1910.000000,98065.000000,7620.000000,47.571800,0.000000,7.618000e+03,0.000000
75%,2210.000000,0.000000,2360.000000,-122.125000,4.000000,1997.000000,2.000000,0.000000,2.500000,6.450000e+05,4.000000,8.000000,2550.000000,98118.000000,10083.000000,47.678000,560.000000,1.068800e+04,0.000000
max,9410.000000,4.000000,6210.000000,-121.315000,33.000000,2015.000000,3.500000,2015.000000,8.000000,7.700000e+06,5.000000,13.000000,13540.000000,98199.000000,871200.000000,47.777600,4820.000000,1.651359e+06,1.000000

Cтатистика по признакам, тип данных которых числовой(int64, float64), но без столбца id.

In [5]:
data.describe(include=['O'])

                   date
count             21613
unique              372
top     20140623T000000
freq                142

Выше приведена статистика по единственному признаку "date", тип данных которого object.

In [6]:
data.describe(include='all')

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,2.161300e+04,21613,2.161300e+04,21613.000000,21613.000000,21613.000000,2.161300e+04,21613.000000,21613.000000,21613.000000,...,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000
unique,NaN,372,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,20140623T000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,142,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,4.580302e+09,NaN,5.400881e+05,3.370842,2.114757,2079.899736,1.510697e+04,1.494309,0.007542,0.234303,...,7.656873,1788.390691,291.509045,1971.005136,84.402258,98077.939805,47.560053,-122.213896,1986.552492,12768.455652
std,2.876566e+09,NaN,3.671272e+05,0.930062,0.770163,918.440897,4.142051e+04,0.539989,0.086517,0.766318,...,1.175459,828.090978,442.575043,29.373411,401.679240,53.505026,0.138564,0.140828,685.391304,27304.179631
min,1.000102e+06,NaN,7.500000e+04,0.000000,0.000000,290.000000,5.200000e+02,1.000000,0.000000,0.000000,...,1.000000,290.000000,0.000000,1900.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000
25%,2.123049e+09,NaN,3.219500e+05,3.000000,1.750000,1427.000000,5.040000e+03,1.000000,0.000000,0.000000,...,7.000000,1190.000000,0.000000,1951.000000,0.000000,98033.000000,47.471000,-122.328000,1490.000000,5100.000000
50%,3.904930e+09,NaN,4.500000e+05,3.000000,2.250000,1910.000000,7.618000e+03,1.500000,0.000000,0.000000,...,7.000000,1560.000000,0.000000,1975.000000,0.000000,98065.000000,47.571800,-122.230000,1840.000000,7620.000000
75%,7.308900e+09,NaN,6.450000e+05,4.000000,2.500000,2550.000000,1.068800e+04,2.000000,0.000000,0.000000,...,8.000000,2210.000000,560.000000,1997.000000,0.000000,98118.000000,47.678000,-122.125000,2360.000000,10083.000000
max,9.900000e+09,NaN,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,1.000000,4.000000,...,13.000000,9410.000000,4820.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000

Выше приведена статистика по всем типам данным.

## Задача 3

## 3.1 В каком диапазоне изменяются стоимости недвижимости?

In [15]:
[data['price'].min(), data['price'].max()]

[75000.0, 7700000.0]

## 3.2 Какую долю в среднем занимают жилая площадь от всей площади по всем домам?

In [16]:
data['sqft_living'] #столбец с жилой площадью

0        1180
1        2570
2         770
3        1960
4        1680
         ...
21608    1530
21609    2310
21610    1020
21611    1600
21612    1020
Name: sqft_living, Length: 21613, dtype: int64

In [17]:
data['sqft_lot'] #столбец с общей площадью

0         5650
1         7242
2        10000
3         5000
4         8080
         ...
21608     1131
21609     5813
21610     1350
21611     2388
21612     1076
Name: sqft_lot, Length: 21613, dtype: int64

In [21]:
data1 = data['sqft_living']/data['sqft_lot'] #делим столбец с жилой площадью на столбец с общей
data1

0        0.208850
1        0.354874
2        0.077000
3        0.392000
4        0.207921
           ...
21608    1.352785
21609    0.397385
21610    0.755556
21611    0.670017
21612    0.947955
Length: 21613, dtype: float64

In [22]:
data1.mean() # берем среднее от доли жилой площади

0.32374472542047195

## 3.3 Как много домов с разными этажами в данных?

In [24]:
data['floors'].value_counts()

1.0    10680
2.0     8241
1.5     1910
3.0      613
2.5      161
3.5        8
Name: floors, dtype: int64

## 3.4 Насколько хорошее состояния у домов в данных?

In [27]:
data['condition'].mode()

0    3
dtype: int64

Самое частотное состояние на 3. Проверим через уникальные значения и частоту их появления

In [28]:
data['condition'].value_counts()

3    14031
4     5679
5     1701
2      172
1       30
Name: condition, dtype: int64

## 3.5 Найдите года, когда построили первый дом, когда построили последний дом в данных?

In [29]:
data['yr_built'].min() # год, когда построили первый дом

1900

In [30]:
data['yr_built'].max() # год, когда построили последний дом

2015

## 4.1 Сколько в среднем стоят дома, у которых 2 спальни?

In [33]:
data[data['bedrooms'] == 2]['price'].mean()

401372.681884058

In [36]:
df = data[data['bedrooms'] == 2] #То же самое, но по-другому записано для лучшего понимания
df

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
11,9212900260,20140527T000000,468000.0,2,1.00,1160,6000,1.0,0,0,...,7,860,300,1942,0,98115,47.6900,-122.292,1330,6000
18,16000397,20141205T000000,189000.0,2,1.00,1200,9850,1.0,0,0,...,7,1200,0,1921,0,98002,47.3089,-122.210,1060,5095
23,8091400200,20140516T000000,252700.0,2,1.50,1070,9643,1.0,0,0,...,7,1070,0,1985,0,98030,47.3533,-122.166,1220,8386
31,2426039314,20141201T000000,280000.0,2,1.50,1190,1265,3.0,0,0,...,7,1190,0,2005,0,98133,47.7274,-122.357,1390,1756
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21586,2767604724,20141015T000000,505000.0,2,2.50,1430,1201,3.0,0,0,...,8,1430,0,2009,0,98107,47.6707,-122.381,1430,1249
21588,2767600688,20141113T000000,414500.0,2,1.50,1210,1278,2.0,0,0,...,8,1020,190,2007,0,98117,47.6756,-122.375,1210,1118
21595,1972201967,20141031T000000,520000.0,2,2.25,1530,981,3.0,0,0,...,8,1480,50,2006,0,98103,47.6533,-122.346,1530,1282
21610,1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,...,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21612,1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,...,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

In [37]:
df['price'].mean()

401372.681884058

## 4.2 Какая в среднем общая площадь домов, у которых стоимость больше 600 000?

In [39]:
data[data['price'] > 600000]['sqft_lot'].mean()

20442.524776214832

## 4.3 Как много домов коснулся ремонт?

In [44]:
data[data['yr_renovated'] > 0]

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
35,9547205180,20140613T000000,696000.0,3,2.50,2300,3060,1.5,0,0,...,8,1510,790,1930,2002,98115,47.6827,-122.310,1590,3264
95,1483300570,20140908T000000,905000.0,4,2.50,3300,10250,1.0,0,0,...,7,2390,910,1946,1991,98040,47.5873,-122.249,1950,6045
103,2450000295,20141007T000000,1088000.0,3,2.50,2920,8113,2.0,0,0,...,8,2920,0,1950,2010,98004,47.5814,-122.196,2370,8113
115,3626039325,20141121T000000,740500.0,3,3.50,4380,6350,2.0,0,0,...,8,2780,1600,1900,1999,98117,47.6981,-122.368,1830,6350
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19622,7351200295,20150114T000000,1150000.0,3,1.75,1760,6788,2.0,1,4,...,7,1760,0,1940,1960,98125,47.7336,-122.284,1630,7588
20057,126039256,20140904T000000,434900.0,3,2.00,1520,5040,2.0,0,0,...,7,1520,0,1977,2006,98177,47.7770,-122.362,1860,8710
20444,4305600360,20150225T000000,500012.0,4,2.50,2400,9612,1.0,0,0,...,8,1230,1170,1962,2009,98059,47.4799,-122.127,2430,5539
20447,3319500628,20150212T000000,356999.0,3,1.50,1010,1546,2.0,0,0,...,8,1010,0,1971,2014,98144,47.5998,-122.311,1010,1517
20962,1278000210,20150311T000000,110000.0,2,1.00,828,4524,1.0,0,0,...,6,828,0,1968,2007,98001,47.2655,-122.244,828,5402

In [45]:
data[data['yr_renovated'] > 0].shape ## ремонт коснулся 914 домов

(914, 21)

## 4.4  Насколько в среднем стоимость домов с оценкой grade выше 10 отличается от стоимости домов с оценкой grade меньше 4?

In [49]:
a = data[data['grade'] > 10]['price'].mean()
a

1678635.1175298805

In [50]:
b = data[data['grade'] < 4]['price'].mean()
b

189750.0

In [51]:
a-b

1488885.1175298805

Стоимость с оценкой больше 10 в среднем выше на 1 млн 489 тысяч

## 5.1 Выберите дом клиенту
### Клиент хочет дом с видом на набережную, как минимум с тремя ванными и с подвалом. Сколько вариантов есть у клиента?

In [54]:
data[(data['waterfront'] > 0) & (data['sqft_basement'] > 0) & (data['bathrooms'] > 3)]

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
300,3225069065,20140624T000000,3075000.0,4,5.00,4550,18641,1.0,1,4,...,10,2600,1950,2002,0,98074,47.6053,-122.077,4550,19508
1164,1247600105,20141020T000000,5110800.0,5,5.25,8010,45517,2.0,1,4,...,12,5990,2020,1999,0,98033,47.6767,-122.211,3430,26788
1261,7636800041,20140625T000000,995000.0,3,4.50,4380,47044,2.0,1,3,...,9,3720,660,1968,1990,98166,47.4734,-122.365,2460,18512
1315,7558700030,20150413T000000,5300000.0,6,6.00,7390,24829,2.0,1,4,...,12,5000,2390,1991,0,98040,47.5631,-122.210,4320,24619
1361,1925069082,20150511T000000,2200000.0,5,4.25,4640,22703,2.0,1,4,...,8,2860,1780,1952,0,98052,47.6393,-122.097,3140,14200
2626,7738500731,20140815T000000,4500000.0,5,5.50,6640,40014,2.0,1,4,...,12,6350,290,2004,0,98155,47.7493,-122.280,3030,23408
2864,4114601570,20141118T000000,3600000.0,3,3.25,5020,12431,2.0,1,4,...,10,3420,1600,1941,2002,98144,47.5925,-122.287,3680,12620
3914,9808700762,20140611T000000,7062500.0,5,4.50,10040,37325,2.0,1,2,...,11,7680,2360,1940,2001,98004,47.6500,-122.214,3930,25449
3934,1269200229,20140723T000000,1379900.0,3,3.25,3786,38038,1.0,1,4,...,9,1934,1852,1978,2006,98070,47.3907,-122.448,2850,33361
5760,623059016,20140717T000000,1100000.0,4,3.25,3190,11774,2.0,1,4,...,8,2610,580,1956,1991,98178,47.5033,-122.225,2240,8725
6233,2024069008,20140619T000000,2200000.0,5,4.75,5990,10450,2.0,1,4,...,11,4050,1940,2002,0,98027,47.5554,-122.077,3330,14810
6508,4217402115,20150421T000000,3650000.0,6,4.75,5480,19401,1.5,1,4,...,11,3910,1570,1936,0,98105,47.6515,-122.277,3510,15810
7989,9362000040,20140623T000000,3400000.0,3,4.50,5230,17826,2.0,1,4,...,10,3740,1490,2005,0,98040,47.5348,-122.243,3670,17826
8092,1924059029,20140617T000000,4668000.0,5,6.75,9640,13068,1.0,1,4,...,12,4820,4820,1983,2009,98040,47.5570,-122.210,3270,10454
8163,1724069079,20150319T000000,1452000.0,2,3.25,2070,3128,2.0,1,3,...,9,1760,310,1988,0,98075,47.5686,-122.060,2740,3568
10263,625059036,20140813T000000,2700000.0,5,4.00,4230,27295,2.0,1,4,...,8,3230,1000,1949,1985,98033,47.6803,-122.214,2660,27295
11257,3761100045,20140618T000000,3000000.0,4,4.25,4850,12445,2.0,1,4,...,10,3850,1000,1989,0,98034,47.7011,-122.244,3350,12210
11402,3426049284,20140819T000000,2300000.0,4,3.25,4110,15929,2.0,1,4,...,12,2720,1390,2001,0,98115,47.6934,-122.271,2640,15929
11424,5119400075,20140620T000000,950000.0,3,3.25,3050,18892,1.0,1,4,...,8,1650,1400,1962,0,98198,47.3881,-122.326,1170,70973
11446,624069035,20141209T000000,2750000.0,4,4.00,4130,5575,2.0,1,4,...,10,2860,1270,1993,0,98075,47.5968,-122.083,2980,5575
11844,2623039082,20150218T000000,770000.0,3,3.50,2050,21744,2.0,1,4,...,9,1750,300,1930,0,98166,47.4536,-122.376,2300,12200
12459,4114601580,20140724T000000,1900000.0,6,4.00,3020,13237,2.0,1,4,...,8,2840,180,1942,1983,98144,47.5924,-122.287,3680,12620
13710,2923500230,20141216T000000,2600000.0,4,4.50,5270,12195,2.0,1,4,...,11,3400,1870,1979,0,98027,47.5696,-122.090,3390,9905
13967,3126059023,20150303T000000,3395000.0,4,3.50,4730,47870,1.0,1,4,...,10,2940,1790,1954,0,98033,47.6967,-122.216,3250,49346
14083,3625059043,20140904T000000,3300000.0,5,4.75,6200,13873,2.0,1,4,...,11,4440,1760,1989,0,98008,47.6050,-122.112,2940,13525
15482,624069108,20140812T000000,3200000.0,4,3.25,7000,28206,1.0,1,4,...,12,3500,3500,1991,0,98075,47.5928,-122.086,4913,14663
15668,4030100290,20141001T000000,1680000.0,5,3.50,5170,7197,3.0,1,4,...,11,3520,1650,1998,0,98155,47.7561,-122.271,3020,12880
16817,825059178,20140923T000000,2574000.0,4,3.75,4475,20424,2.0,1,4,...,12,2659,1816,1999,0,98033,47.6646,-122.208,4340,5250
17767,7352200450,20150115T000000,2050000.0,4,3.25,3580,19989,1.5,1,4,...,7,3480,100,1915,1965,98125,47.7087,-122.276,2410,6389
18199,3625059152,20141230T000000,3300000.0,3,3.25,4220,41300,1.0,1,4,...,11,2460,1760,1958,1987,98008,47.6083,-122.110,3810,30401
18455,8043700300,20140608T000000,2700000.0,4,3.25,4420,7850,2.0,1,4,...,11,3150,1270,2001,0,98008,47.5720,-122.102,2760,8525
18556,6613000930,20140902T000000,2950000.0,4,3.25,3890,25470,2.0,1,3,...,10,3030,860,1923,0,98105,47.6608,-122.269,4140,19281
20325,518500480,20140811T000000,3000000.0,3,3.50,4410,10756,2.0,1,4,...,11,3430,980,2014,0,98056,47.5283,-122.205,3550,5634
20767,8043700105,20150417T000000,2300000.0,4,4.00,4360,8175,2.5,1,4,...,10,3940,420,2007,0,98008,47.5724,-122.104,2670,8525
21201,518500460,20141008T000000,2230000.0,3,3.50,3760,5634,2.0,1,4,...,11,2830,930,2014,0,98056,47.5285,-122.205,3560,5762
21576,9253900271,20150107T000000,3567000.0,5,4.50,4850,10584,2.0,1,4,...,10,3540,1310,2007,0,98008,47.5943,-122.110,3470,18270

In [55]:
data[(data['waterfront'] > 0) & (data['sqft_basement'] > 0) & (data['bathrooms'] > 3)].shape

(36, 21)

36 вариантов

### Клиент хочет дом либо с очень красивым видом из окна, либо с видом на набережную, в очень хорошем состоянии и год постройки не меньше 1980 года. В какой ценовом диапазоне будут дома?

In [57]:
df = data[((data['view'] > 0) | (data['waterfront'] > 0)) & (data['yr_built'] >= 1980) & (data['condition'] == 5)]
df

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
858,623069068,20140627T000000,425000.0,3,1.00,1520,213444,1.5,0,3,...,8,1520,0,1988,0,98027,47.5081,-122.093,2640,213444
3821,5452301810,20140905T000000,1575000.0,5,3.75,4220,9240,2.0,0,2,...,11,3420,800,1991,0,98040,47.5895,-122.229,3380,9240
6045,4045100190,20141027T000000,2196000.0,4,3.25,4250,18000,2.0,0,3,...,10,3350,900,1980,0,98040,47.5612,-122.229,3790,14537
8136,2597450620,20141009T000000,1511250.0,3,2.50,4010,12105,1.0,0,3,...,11,2600,1410,1983,0,98006,47.5540,-122.151,4010,15081
8791,5067400032,20141205T000000,550000.0,3,2.50,3070,14400,1.0,0,3,...,9,1720,1350,1985,0,98198,47.3716,-122.321,2020,18211
11257,3761100045,20140618T000000,3000000.0,4,4.25,4850,12445,2.0,1,4,...,10,3850,1000,1989,0,98034,47.7011,-122.244,3350,12210
12273,3220079017,20150213T000000,432000.0,5,2.75,2060,329903,1.5,0,3,...,7,2060,0,1989,0,98022,47.1776,-121.944,2240,220232
14682,7278100515,20140821T000000,1295000.0,2,2.50,2910,19449,2.0,1,4,...,9,1940,970,1985,0,98177,47.7729,-122.393,2540,23598
15997,2320069260,20141027T000000,415000.0,3,2.00,2010,33090,1.5,0,2,...,8,2010,0,1986,0,98022,47.2133,-122.007,1840,22620
16120,2574900080,20140513T000000,1550000.0,5,3.25,3370,17458,1.0,0,2,...,10,2000,1370,1982,0,98040,47.5591,-122.229,4240,15202
17312,3585901025,20140613T000000,1735000.0,3,2.50,4310,32093,1.5,0,4,...,10,2510,1800,1982,0,98177,47.7624,-122.380,3810,26400
18991,7856400300,20140702T000000,1411600.0,2,2.50,3180,9400,2.0,0,4,...,10,2610,570,1985,0,98006,47.5617,-122.158,3760,9450
18992,7856400300,20150322T000000,1505000.0,2,2.50,3180,9400,2.0,0,4,...,10,2610,570,1985,0,98006,47.5617,-122.158,3760,9450

In [58]:
[df['price'].min(), df['price'].max()]

[415000.0, 3000000.0]

Ценовой диапазон от 415 тысяч до 3 млн.

### Клиент хочет дом без подвала, с двумя этажами, стоимостью до 150000. Какая оценка по состоянию у таких домов в среднем?

In [61]:
df = data[(data['sqft_basement'] == 0) & (data['floors'] == 2) & (data['price'] < 150000)]
df

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
2589,5061300030,20140508T000000,134000.0,2,1.50,980,5000,2.0,0,0,...,7,980,0,1922,2003,98014,47.7076,-121.359,1040,5000
10105,5466310060,20150324T000000,139500.0,2,1.50,1230,1561,2.0,0,0,...,7,1230,0,1983,0,98042,47.3768,-122.149,1660,2243
15610,7614100080,20150211T000000,140000.0,3,1.75,1270,8991,2.0,0,0,...,7,1270,0,1981,0,98042,47.3563,-122.149,1270,8993
18332,9272202260,20140924T000000,130000.0,3,1.00,1200,7000,2.0,0,0,...,7,1200,0,1908,0,98116,47.5883,-122.384,3290,6000
18939,4239400300,20141129T000000,90000.0,3,1.00,980,2490,2.0,0,0,...,6,980,0,1969,0,98092,47.3170,-122.182,980,3154
18988,7399100210,20141126T000000,140000.0,3,1.50,1200,2002,2.0,0,0,...,8,1200,0,1966,0,98055,47.4659,-122.189,1270,1848

In [63]:
df['condition'].mean()

2.8333333333333335

Средняя оценка по состоянию 2.83